<div class="row" style="margin-bottom: 1rem;">
    <div class="col-12">
        <div class="float-right">
            <button class="btn btn-success" (click)="onNewCaff()">Upload new CAFF file</button>
        </div>
    </div>
</div>
<div class="input-group mb-3">
    <input type="text" class="form-control py-2 border-right-0 border" type="search"
        placeholder="Start searching for a CAFF file by name" aria-label="Search" [(ngModel)]="searchText"
        autocomplete="off" id="SearchInput">
    <div class="input-group-append">
        <span class="input-group-text bg-transparent" id="searchIcon">
            <fa-icon [icon]="faSearch"></fa-icon>
        </span>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <app-cafffile-list-item
            *ngFor="let caffItem of caffList | filter: 'name': searchText"
            [caffFile]="caffItem"></app-cafffile-list-item>
    </div>
</div>
