<h1>{{caffFile?.name}}</h1>
<button class="btn btn-success" (click)="downloadCaffFile()">Download CAFF file</button>
<img [src]="imageSource" alt="Preview" class="img-fluid" style="max-height: 8rem;">
<div *ngFor="let comment of comments">
    <h4>{{comment.userName}}</h4>
    <div>{{comment.content}}</div>
</div>
<form [formGroup]="caffForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <textarea formControlName="comment" class="form-control fadeIn second"></textarea>
    </div>
    <button type="submit" class="btn btn-info">Add new Comment</button>
</form>
<form [formGroup]="caffNameForm" (ngSubmit)="editName()" *ngIf="isAdmin">
    <div class="form-group">
        <input type="text" formControlName="name" class="form-control fadeIn second"/>
    </div>
    <button type="submit" class="btn btn-info">Edit</button>
</form>