<div style="cursor: pointer" [routerLink]="[caffFile.id]" routerLinkActive="active" class="list-group-item">
    <div class="row">
        <div class="col-sm">
            <h5 class="list-group-item-heading">{{caffFile.name}}</h5>
        </div>
        <div class="col-sm">
            <span class="pull-right">
                <img src="https://img.icons8.com/bubbles/100/000000/user.png" alt="Preview" class="img-fluid" style="max-height: 8rem;">
            </span>
        </div>
    </div>
</div>